.corpform{
   width: 50%;

}
.corppage{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.btn{ 
    width: 100px !important;
}
